<!-- templates/registration/password_change_form.html -->
{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}
{% block content %}
<h1>Cambio de Password</h1>
<p>Ingresa tu antiguo password, por seguridad, y despues ingresa tu nuevo password 
    dos veces asi que nosotros podamos verificar que tipeaste correctamente este.</p>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Change my password">
</form>
{% endblock content %}
